<div class="row main_panel_container">
  <div class="col-xs-9">
    <div class="panel panel-default">
      <div class="panel-heading">
  	    <h3 class="panel-title">Admin Messages</h3>
      </div>

      <div class="panel-body">
        Settings here
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render 'admins/admin_sidebar' %>
  </div>
</div>