<div class="row main_panel_container">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading center_text"><h3 class="panel-title">Password Recovery</h3></div>
      <div class="panel-body">
				<p>Enter your email below to reset your password:</p>

				<%= form_tag do %>
  				<%= text_field_tag :email, @email, :size => 40, :placeholder => "Email", :class=> "form-control" %>
  				<hr>
  				<%= submit_tag 'Submit', :class => "btn btn-warning pull-right" %>
				<% end -%>
				<%= button_to "Cancel", root_path, :class => "btn btn-default pull-right btn_spacer" %>
			</div>
		</div>
	</div>
</div>		