<div class="row main_panel_container">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading center_text"><h3 class="panel-title">Coming Soon</h3></div>
      <div class="panel-body">
        <div class="center_text">Go <%= link_to "back", settings_path %></div>
       </div>
    </div>
  </div>
</div>