<div class="aboutpage_container">
	<div class="well well-sm aboutus_header">Real Estate is Our Passion</div>
	<div class="aboutus_content">
		<p>
			Accent Realty is a boutique real estate firm servicing the Greater Hartford Area. 
			Our commitment is to recognize the unique wants, needs and lifestyles of each client and exceed their expectations. 
		</p>
		<p>
		Our goal is to provide the highest level of service and position our client’s happiness as the number one priority in each transaction.
			
		</p>
		<p>
			We remain deeply committed to the people and communities we serve. Passion and integrity drive our success. 
			<b class="about_bold">Ask someone who knows us!</b>
		</p>
	</div>

	<div class="well well-sm aboutus_header">Our Services</div>
	<div class="aboutus_content">
		<p>
			In today’s dynamic and ever-changing real estate environment, exposure has become vital in effectively marketing properties.
		</p>
		<p>
			With strategically devised marketing programs fully customized for sellers and buyers, Accent Realty represents clients and individually tailors exclusive marketing campaigns and strategies from <b class="about_bold">Full Service</b> to <b class="about_bold">For Sale By Owner.</b>
		</p>
	</div>

	<div class="well well-sm aboutus_header">Accent Realty “Advantages”</div>
	<div class="aboutus_content">
		<ul>
			<li>
				<p>
					<b>Local Expertise:</b> We know the nuances of our local markets better than anyone else: we know the schools, housing styles, history, local regulations, and everything else that can help smooth your transaction.
				</p>
			</li>

			<li>
				<p>
					<b>Buying Local:</b> Just as you probably like to patronize locally-owned restaurants, shops, and other businesses, buying and selling with Accent Realty gives you the opportunity to support a local, family-owned company. You can be secure that our partners are just as committed to local businesses as you are. 
				</p>
			</li>

			<li>
				<p>
					<b>Commitment to Communities:</b> The Accent Realty owners have long been supporters of local charities, foundations, and community organizations.
				</p>
			</li>
		</ul>
	</div>
</div>