<div class="row ">
	<div class="col-xs-8 col-xs-offset-2">
	<h3 class="community_header">Disclaimer</h3>
	<div class="disclaimer_content">
		<p>
			The information contained in this website is provided for informational purposes only, and should not be construed as legal or professional advice on any subject matter. No recipients of content from this site, clients or otherwise, should act or refrain from acting on the basis of any content included in the site without seeking the appropriate legal or other professional advice on the particular facts and circumstances at issue from an attorney licensed in your state. The content of this website contains general information and may not reflect current real estate or legal developments, verdicts or settlements <span class="blue_text">Accent Realty, LLC  or anyone who posts on this website</span> expressly disclaim all liability in respect to actions taken or not taken based on any or all the contents of this website.
		</p>
		<p>
			Any information sent to <span class="blue_text">Accent Realty, LLC</span> by Internet e-mail or through the website is not secure and is done so on a non-confidential basis, <span class="blue_text">however it will not be shared or sold to any third party</span>.
		</p>
		<p>
			Some links within the website may lead to other websites, including those operated and maintained by third parties. 
			<span class="blue_text">Accent Realty, LLC</span> includes these links solely as a convenience to you, and the presence of such a link does not imply a responsibility for the linked site or an endorsement of the linked site, its operator, or its contents.
		</p>
		<p>
			This website and its contents are provided "AS IS" without warranty of any kind, either expressed or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, or non-infringement.
		</p>
		<p>
			Furthermore, <span class="blue_text">Accent Realty, LLC</span> does not wish to represent anyone desiring representation based upon viewing this website in a state where this website fails to comply with all laws and ethical rules of that state.
		</p>
		<p>
			Reproduction, distribution, republication, and/or retransmission of text contained within the Accent Realty, LLC Website is prohibited unless the prior written permission of Accent Realty, LLC has been obtained.
		</p>
	</div>
	</div>
</div>