<div class="panel panel-default search_panel">
  <div class="panel-heading">
    <h3 class="panel-title">Search Listings</h3>
  </div>
  <div class="panel-body search_panel_body">
    <%= render "pages/listing_search_form" %>
  </div>
</div>

<div class="listings_container">

  <% 12.times do %>
    <div class="listing_item">
      <a href="/listings/sample1" class="listing_image_frame">
        <div class="listing_image_overlay"><span>Click To View</span></div>
        <%= image_tag "listing1.jpg", :class=>"listing_image" %> 
      </a>
      <div class="listing_caption">
        <div class="listing_item_title">Ashford, CT 06278</div>
        <div class="listing_item_price">$575,000</div>
        <div class="listing_item_stat">3 Bedrooms | 2 Baths | 1.25 Acres</div>
      </div>
    </div>
  <% end %>

</div>
