pages#listings

<h3>Listings page here</h3>

<div class="search_container">

</div>

<div class="listings_container clearfix">
	
	<div class="listing_item">
 
	 	<%= image_tag "listing1.jpg", :class=>"listing_image" %> 


	 <div class="listing_caption">
	 123 Some Street <br/>
	 Anytown, state
	 </div>
	</div>

	<div class="listing_item">
	 <%= image_tag "listing1.jpg", :class=>"listing_image" %> 
	 
	 <div class="listing_caption">

	 </div>
	</div>

	<div class="listing_item">
	 <%= image_tag "listing1.jpg", :class=>"listing_image" %> 
	 
	 <div class="listing_caption">

	 </div>
	</div>

	<div class="listing_item">
	 <%= image_tag "listing1.jpg", :class=>"listing_image" %> 
	 
	 <div class="listing_caption">

	 </div>
	</div>
</div>
