<div class="resources_container">
	<div class="well well-sm tips_header">Tips for Buyers</div>
	<div class="resources_tips_container" id="buyertips">

		<div class="media">
  		<div class="media-body">
   			<h4 class="media-heading">Find life after foreclosure.</h4>
   			&nbsp; Have a foreclosure in recent years? Join the crowd. Though you might think you have to wait seven years to get another conventional mortgage, Fannie Mae, Freddie Mac and the FHA say they actually require just a three-year waiting period if the foreclosure was caused by extenuating circumstances. There are plenty of nonconforming lenders -- often called "shadow bankers" -- out there if you can endure a big down payment (around 20 percent) and above-market interest rates. Or consider a lease-purchase or lease-option where you pay the homeowner a monthly premium above your rent for the right to buy at a set price later.  		
   		</div>
		</div>

		<hr/>

		<div class="media">
 			<div class="media-body">
   			<h4 class="media-heading">Ask and you won't receive (an unpleasant surprise).</h4>
    		&nbsp; You'd be dismayed at the things sellers aren't obliged to disclose in most states, including on-premises felonies, suicide, murder or a neighboring sex offender. Don't be afraid to thoroughly question the selling party in writing before signing the contract. Some questions: Is there a cell tower, water tower, natural gas well, oil well or other non-residential construction scheduled to be built in this neighborhood (then define "neighborhood")? Is there commercial zoning on nearby vacant land? Is the yard prone to flooding? Are train whistles or other regular loud noises audible there? Did known criminal activity occur in the house? Have there been reported hauntings? Are there loud neighbors, dogs or other noise pollution? Are there registered sex offenders or other known criminals living nearby? If the selling party refuses to answer any of these questions, that's a bright red flag.
  		</div>
		</div>

		<hr/>
		
		<div class="media">
  		<div class="media-body">
    		<h4 class="media-heading">Heed changing trends.</h4>
   			&nbsp; Pay attention to trends and react accordingly. Thinking of laying carpet? Agent surveys in the past few years show homes with hardwood floors or faux wood laminate floors are far faster sells. You still want to be in suburbia? Millennials don't. Numerous cities -- such as Austin, Texas; Portland, Oregon; and Minneapolis -- have watched this more environmentally conscious generation flock to "mixed-use" urban districts served by trendy cafes, nightclubs, bike paths, civic events and mass transit. For now, they're not buying condos, which haven't recovered like the single-family market. They're renting -- but watching the condo market ever so carefully.
  		</div>
		</div>
	</div>

	<div class="well well-sm tips_header">Tips for Sellers</div>
	<div class="resources_tips_container" id="sellertips">

		<div class="media">
  		<div class="media-body">
   			<h4 class="media-heading">It's your market (finally) so make the most of it.</h4>
   			&nbsp; At long last, it's a seller's market! While you're interviewing agents, be wary of those offering too-good-to-be-true price opinions because they may be trying to "buy" your listing. And don't jump at that first (seemingly) generous offer, especially if sellers are getting multiple offers. If you're getting your price and then some, give something back to the buyer in good faith, such as an early move-in date or some personal property you're not attached to. Never let the buyers' agents know what you're willing to do, though. Make them ask.
  		</div>
		</div>

		<hr/>
		
		<div class="media">
 			<div class="media-body">
   			<h4 class="media-heading">Hesitate to renovate.</h4>
    		&nbsp; We hear that newly renovated homes are easier sells, and that's true. So is it time to remodel that outmoded kitchen? Not if you plan to sell soon. According to remodeling surveys, the average renovation project returns only about two-thirds on investment. For example, a major bathroom remodel costing $15,000 yields about $10,000 in resale value. The same goes for a major kitchen remodel. In most cases, it would be cheaper to issue credits to buyers or drop your price a few grand. Lighter jobs like new doors are more practical and return about 85 percent. But feel free to spend a bit on paint (basic colors), curb appeal and fence replacement to enhance exteriors.
  		</div>
		</div>
		
		<hr/>
		
		<div class="media">
  		<div class="media-body">
    		<h4 class="media-heading">Tailor your local game.</h4>
   			&nbsp; Folks who base their selling decisions on trends on cable news are often left wondering, "Why can't I sell at this price?" The truth is, all markets are different and all real estate is local, and prices can vary greatly even in adjacent subdivisions. Home prices are dictated largely by demand, land availability, foreclosures and employment. Most local real estate offices will provide market stats and at least a few recent comp sales in hopes of earning your business. Additional trend data can be found online or in local newspapers and business journals. A polite call or email to a local real estate appraiser might net more info or links to local statistics.
  		</div>
		</div>
	</div>
</div>