
	<script type="text/javascript" src="http://www.map-generator.org/map/iframejs/12d0f005-c798-41f2-89a4-6eea764bb171?key=AIzaSyDrXkwl_unfISviCz53W0_amNhtZNPiADA&width=400px&height=400px&zoom=13"></script>


<div class="listing_page_container">
	<div class="panel panel-default">
  	<div class="panel-heading">
  		<h3 class="panel-title big_panel_title">25 Ashford Dr, Ashford, CT <div class="panel_title_price">$575,000</div></h3>
  	</div>

  	<div class="panel-body no_padding">
  		<div class="panel_inner_container">
    <%= image_tag "listing1.jpg", :class=>"listing_page_image" %>


<div class="listing_panel_info">
<hr/>
	<table cellpadding="5">
		<tr>
			<td><strong>Style:</strong> Cape Cod</td>
			<td><strong>Assessment:</strong> $103,500</td>
		</tr>
		<tr>
			<td><strong>Type:</strong> Single-Family</td>
			<td><strong>Est. Taxes:</strong> $3,276</td>
		</tr>
		<tr>
			<td><strong>Rooms:</strong> 6</td>
			<td><strong>Year Built:</strong> 1950</td>
		</tr>
		<tr>
			<td><strong>Bedrooms:</strong> 2</td>
			<td><strong>Acreage:</strong> 0.35</td>
		</tr>
		<tr>
			<td><strong>Baths:</strong> 1</td>
			<td><strong>Sq. Feet:</strong> 1,155</td>
		</tr>
		<tr>
			<td><strong>Basement:</strong> Full</td>
			<td><strong>Heating:</strong> Radiator</td>
		</tr>
		<tr>
			<td><strong>MLS#:</strong> E272388</td>
			<td><strong>Cooling:</strong> None</td>
		</tr>
	</table>


<strong>Lot Desc:</strong> Neighborhood,Lightly WoodedElem. <br/> 
<strong>School:</strong> Ashford Elem<br/>
<strong>High School:</strong> E.O.Smith<br/> 
<strong>Days On Market:</strong> 13 Days<br/>

</div>

	</div>
  </div>
</div>

New Listing - 12/20/2013

<div id ="mapid-12d0f005-c798-41f2-89a4-6eea764bb171"></div>


</div>