html {
  height:100%;
}

body {
  background-color: #FFF8F2;
  margin: 0;
  padding: 0;
  height: 100%;
}

/** Global Page Control & Misc. Settings **/

.page_container {
  background-color: #FFF;
  width:960px;
  min-height: 700px;
  margin: auto auto;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(69,62,54,0.30);
  -moz-box-shadow: 0px 0px 15px 1px rgba(69,62,54,0.30);
  box-shadow: 0px 0px 15px 1px rgba(69,62,54,0.30);
}

.tab_content_container {
  width:910px;
  margin-left:auto;
  margin-right:auto;
}

.below_header_margin {
  margin-top:50px;
}

.small_header_margin {
  margin-top:15px;
}

.left_text {
  text-align: left;
}

.center_text {
  text-align: center;
}

.modal_short_width {
  width:450px;
  margin: auto auto;
}
.contact_modal_body {
  font-size:11pt;
  padding-top:13px;
  padding-bottom:0px;
}
.center {
  margin-left:auto;
  margin-right:auto;
}
.panel-title {
  color:#F08024;
  font-weight: 400;
}
.xs_field {
  width:200px;
}
.short_field {
  width:300px;
}

.placeholder_login_panel {
  width:450px;
}
.header_width {
  max-width: 900px;
}

.btn:focus {
  outline:0px !important;
  -webkit-appearance:none;
}
.field_spacer {
  margin-bottom:10px;
}

.sm_form_width {
  width:300px;
}

.no_side_padding {
  padding:0 0;
}
.no_padding {
  padding:0;
}
.no_bottom_padding {
  padding-bottom:0px;
}
.no_margin {
  margin:0px;
}
.padding_15 {
  padding: 15px;
}
.side_padding_15 {
  padding:0 15px 0 15px;
}
.margin_top_15 {
  margin-top:15px;
}
.margin_top-15 {
  margin-top:-15px;
}
.no_rounding {
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.next_panel_title {
  color: #333333;
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom:-1px;
}
.form-control {
  margin-bottom: 7px;
}
.main_panel_container {
  margin:15px 15px 0px 15px;
}

/** Best_In_Place Editing **/


.inline_field input{
  float: none;
  display: table-cell;
  height:auto;
  width:auto;
  line-height: 1;
  padding: 3px;
  margin:-3px 0 -3px 0;
  font-size: 14px;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #66afe9;
  border-radius: 4px;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/** Message Flashes **/

#flash {
  min-width: 350px;
  white-space:nowrap;
  min-height: 45px;
  float:right;
  margin: 20px 0 0px 0;
  padding: 15px;
  font-size:10pt;
  text-align:center;
  line-height: 1;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  border-right:none;
}

/** Main Header **/

.header_container {
  background: url(header_bg.png);
  width:100%;
  height:100%;
}
.header_logo {
  margin-left:0px;
  opacity:1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
  -webkit-transform: translate3d(0, 0, 0); 
  -webkit-transition: all 0.2s ;
  -moz-transition: all 0.2s ;
  transition: all 0.2s ;
}
.header_logo:hover {
  opacity:0.8;
  cursor:pointer;
}
.header_logo:active {
  opacity:0.9;
  cursor:pointer;
}
.header_right {
  float:right;
  margin:0;
}
.accent_slogan_container {
  margin:5px 10px 0px 0;
}
.accent_slogan_img {
  height:17px;
  width:200px;
  margin-right: 1px;
  margin-bottom: 8px;
  opacity: 0.9;
}
.accent_slogan_text {
  font-size: 20px;
  color:#666;
}
.slogan_link {
  font-size: 18px;
  color:#444;
  opacity: 0.9;
}
.slogan_link:hover {
  color:#555;
}
.header_right_lower {
  width:250px;
  float:right;
  height:50px;
}
.header_icon_group {
  margin-right: 10px;
  margin-top: 5px;
  float:right;
}
.header_icon_bg {
  float:right;
  width:41px;
  height:41px;
  padding:2px 0 0 2px;
  border-radius: 50%;
  margin-left:10px;
  background-color:#EFEFEF;
  border:1px solid #ccc;
  -webkit-transition: all 0.2s ;
  -moz-transition: all 0.2s ;
  transition: all 0.2s ;
}
.header_icon_bg:hover {
  border-color:#bbb;
  background-color: #eee;
}
.header_icon {
  opacity: 0.7;
  -webkit-transition: all 0.2s ;
  -moz-transition: all 0.2s ;
  transition: all 0.2s ;
}
.header_icon:hover {
  opacity: 0.9;
}
.header_icon:active {
  opacity: 0.5;
}
.nav-wrapper {
  padding:3px 5px 0 5px;
  background: url(nav_bg.jpg) repeat-x;
  height: 47px;
  width: 100%;
  margin-bottom: 0px;
  border-bottom: 0px solid #e5e5e5;
  border-top: 0px solid #e5e5e5;
  box-shadow: 0px 1px 3px #c3c2c3;
  -webkit-box-shadow: 0px 1px 3px #c3c2c3;
  -moz-box-shadow: 0px 1px 3px #c3c2c3;
  behavior: url(PIE/PIE.htc);
  z-index: 200;
}

.nav_link a{
  color:#666;
  font-size:11pt;
}
.nav_link_active a{
  color:#F08024;
  font-size:11pt;
}

/** Footer Partial **/

.footer {
  padding:10px 0 5px 0;
  text-align: center;
  color: #666;
}
.blue_text {
  color: #428bca;
}
.disclaimer_content {
  padding-bottom:20px;
}
.eop_image {
  margin-top:5px;
}

/** User-facing Home Page **/

.homepage_spacer {
  margin:30px 15px 30px 15px;
}
.carousel_container {
  margin-top: 1px;
  width:960px;
  height:350px;
}

.carousel_item_title {
  font-size: 14pt;
  color:#EEE;
}
.carousel_item_price {
  font-size: 14pt;
  color:#DDD;
}
.carousel_item_stat {
  font-size:16px;
  color:#CCC;
}

.carousel_caption {
  padding:10px 15px 10px 15px;
  font-weight: 400;
  width:auto;
  background-color:rgba(0,0,0,0.6);
  left:0;
  bottom:0;
  right:auto;
  text-align: left;
  margin-bottom: 200px;
  border-right: 7px solid rgba(175,175,175,0.5);
  -webkit-transform: translate3d(0, 0, 0); 
  -webkit-transition: all 0.2s ;
  -moz-transition: all 0.2s ;
  transition: all 0.2s ;
}
.carousel_caption:hover {
  text-decoration: none;
  cursor: pointer;
  padding-right: 40px;
  background-color:rgba(0,0,0,0.7);
  border-right: 5px solid rgba(175,175,175,0.5);
}
.carousel_caption:active {
  text-decoration: none;
  cursor: pointer;
  background-color:rgba(0,0,0,0.75);
}
.carousel-indicators {
  position: absolute;
  bottom: -5px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left:-30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.carousel-indicators .active {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid rgba(125,125,125,0.9);
  border-radius:10px;
  cursor: pointer;
  background-color:rgba(225,225,225,0.5);
}
.carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid rgba(125,125,125,0.9);
  border-radius:10px;
  cursor: pointer;
  background-color:rgba(0,0,0,0.7);
}

.home_well {
  font-weight: 400;
  margin:15px 15px 25px 15px;
  font-size:16pt;
  color:#F08024;
}
.whychoose_image_row {
  margin:15px 15px;
}

.whychoose_image_label {
  padding:5px;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  color:#FFF;
  background-color:rgba(0,0,0,0.5);
  border-radius: 0px 0px 6px 6px;
  position: absolute;
  left: 15px;
  bottom: 0px;
  width:203px;
   -webkit-transform: translate3d(0, 0, 0); 
  -webkit-transition: all 0.2s ;
  -moz-transition: all 0.2s ;
  transition: all 0.2s ;
}
.whychoose_image {
  width:100%;
  height:145px;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  -webkit-transform: translate3d(0, 0, 0); 
    -webkit-transition: all 0.2s ;
  -moz-transition: all 0.2s ;
  transition: all 0.2s ;
}
.whychoose_image:hover {
  opacity:0.9;
}
.whychoose_image:active {
  opacity:0.9;
}

.whychoose_text {
  font-size: 15px;
  padding:15px 40px 10px 40px;
}

/** Testimonials Carousel **/

#previous_testimonial {
  float:left;
  padding-left:25px;
}
#next_testimonial {
  float:right;
  margin-right:25px;
}
.testimonial_btn {
  margin-top: -110px;
  font-size: 25px;
  color: #EEE;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}
.testimonial_btn:hover {
  cursor:pointer;
  color: #DDD;
}
.testimonial_content {
  display: block;
  line-height: 1.4;
  font-weight: 200;
  color: #797670;
  font-size: 19px;
  font-style: italic;
  padding: 10px 10px 0 10px;
  border-top: 1px solid #DDD;

  /** Used for compatibility in firefox/IE **/
  margin-right: 2em;
  margin-left: -2em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

.testimonial_credits {
  float:right;
  margin-right:40px;
  display: block;
  color: #484848;
  font-size: 18px;
  font-style: normal;
  line-height: 1;
}

#testimonials {
  display: block;
  width: 100%;
}

#testimonials .carousel-wrap {
  display: block;
  width: 800px;
  margin: auto;
  overflow: hidden;
  border-bottom: 1px solid #DDD;
}

#testimonials .carousel-nav {
  display: block;
  width: 800px;
  margin: 0 auto;
}
#testimonials .carousel-nav img {
  cursor: pointer;
}
#testimonials .carousel-nav img:active {
  position: relative;
  top: 1px;
}
#testimonials .carousel-nav {
  float: right;
}

#testimonials .carousel-wrap ul {
  display: block;
  list-style: none;
  position: relative;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}
#testimonials .carousel-wrap ul li {
  display: block;
  float: left;
  position: relative;
  width: 800px;
  margin-right: 15px;
}

#testimonials .carousel-wrap {
  font-size: 2.0em;
  line-height: 1.45em;
  color: #797670;
  font-style: italic;
  margin-bottom: 6px;
}
.testimonial_reference {
  text-align:right;
  font-size: 11pt;
  font-weight: 200;
  color: #555;
  margin-right: 35px;
  padding: 0 45px 15px 0;
}

/** About Us Page (user-facing) **/

.aboutpage_container {
  margin:15px 30px 0 30px;
}
.aboutus_header {
  font-size:16pt;
  color:#F08024;
  margin-bottom:15px;
}
.aboutus_content {
  width:840px;
  margin:0 auto 0 auto;
  font-size:13pt;
  padding-bottom: 30px;
}
.about_bold {
  color:#F08024;
}

/** Embedded Listings **/

.listings_embed {
  margin:5px auto 0px auto;
  width:950px;
  display:block;
}

/** Listing Styles **/

.search_panel {
  margin:15px;
  overflow:hidden;
}
.search_panel_body {
  padding:10px 0 5px 0;
}
.search_field_col_left {
  float:left;
  margin-left:30px;
  margin-right:45px;
}
.search_field_col {
  float:left;
  margin-right:45px;
}
.search_field_col_right {
  float:left;
  width:auto;
}
.search_fields_wide {
  height:30px;
  width:150px;
  margin:-3px 0 10px 0;
}
.search_fields {
  height:30px;
  width:130px;
  margin:-3px 0 10px 0;
}
.search_btn {
  padding-top:4px;
  height:30px;
  float:right;
  margin-top:21px;
  margin-right:0px;
  width:100px;
}

.listings_container {
  margin-top:16px;
  min-height:100%;
  overflow:hidden;
}

.listing_item {
  float:left;
  width:220px;
  height:245px;
  margin:0 0 16px 16px;
  background-color:#EEE;
}

.listing_image_frame {
  overflow:hidden;
  position:relative;
  width:220px;
  height:170px;
}

.listing_image_overlay {
  padding-top: 75px;
  color:#000;
  position: absolute;
  left: 0;
  top: -77px;
  width:220px;
  height:171px;
  text-align: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.40);
  -webkit-transition: all 0.2s ;
  -moz-transition: all 0.2s ;
  transition: all 0.2s ;
  -webkit-transform: translate3d(0, 0, 0); 
}

.listing_image_overlay:hover {
  opacity: 1;
  color:#000;
}
.listing_image_overlay span {
  opacity: 1;
  color: #EEE;
    font-size: 12pt;
  font-weight: 200;
  font-family: helvetica;
  -webkit-transition: all 0.2s ;
  -moz-transition: all 0.2s ;
  transition: all 0.2s ;
}

.listing_image {
  width:220px;
  height:170px;
}

.listing_caption {
  overflow:hidden;
  padding:5px 10px 0 10px;
}
.listing_item_title {
  font-size: 12pt;
  color:#444;
}
.listing_item_price {
  font-size: 11pt;
  color:#444;
}
.listing_item_stat {
  text-align: center;
  font-size:10pt;
  color:#666;
}

/** Listing Show Page **/

.listing_page_container {
  width:910px;
  margin:25px;
}
.big_panel_title {
  font-size:14pt;
}
.panel_title_price {
  float:right;

  font-weight:400;
}
.panel_inner_container {
  width:880px;
  margin:15px;
}
.listing_page_image {
  float:left;
  margin-right:10px;
}
.listing_panel_info_title {
  font-size: 18px;
  font-weight: 500;
  color:#444;
  padding:10px 5px 5px 5px;
  margin-bottom:5px;
  border-bottom:1px solid #DDD;
}
.listing_panel_info {
  float:left;
  width:340px;

}
.listing_panel_td {
  padding-right: 15px;
}
.panel_info_row {
  padding:5px;
}
.listing_panel_map {
  position:relative; 
  width:330px; 
  height:330px;
  border-bottom:1px solid #DDD;
}

/** Blog Page (user facing) **/

.post_author {
  font-size: 14pt;
  margin:-8px 0 3px 0;
}
.post_heading {
  font-size: 25px;
}
.blog_back_link {
  float:right;
  margin-top:-17px;
}
.blogpost_bottom_line {
  border-top: 1px dotted #eee;
  padding-bottom: 10px;
}

/** Evaluation Page (user facing) **/

.evaluation_subheader {
  color:#777;
  padding:5px 5px;
}
.evaluation_form_panel {
  width:700px;
}

.evaluation_check_labels {
  margin:0 30px 0 1px;
}
.eval_short_field {
  width:100px;
}

.eval_med_field {
  width:250px;
  float:left;
}
.eval_spc {
  margin-left: 15px;
}
.eval_btn {
  margin-right:30px;
}

/** Admin Panel **/

/** .active {
  z-index: 2;
  color: #ffffff;
  background-color: #F08024;
  border-color: #F08024;
} **/
.panel_edit_link {
  float:right;
  margin-top:-17px;
}
.panel_link_group {
  float:right;
  margin-top:-20px;
}
.panel_section_body {
  margin-top: 10px;
}
.second_collapse {
  border-top:1px solid #DDD;
}
.small_hr {
  margin:10px 0 10px 0;
}
.btn_spacer {
  margin-right: 15px;
}
.admin_well_title {
  padding: 1px;
  font-size: 16px;
}
.page_preview {
  border:1px dotted #DDD;
}
.page_preview_header {
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  color:#999;
  padding:8px;
  border-bottom:1px dotted #DDD;
}
.page_preview_main {
  padding:15px 15px 0 15px;
}
.glyphicon-plus {
  color:#888;
  margin-right:3px;
}

/** Local Partners Page **/

.generic_logo {
  opacity: 0.5;
}
.partner_groups {
  float:none;
  width:100%;
  padding-bottom: 15px;
}
.partner_wrapper {
  float:none;
  width:412px;
  margin: 5px 0px 10px 15px;
  display:inline-block;
  padding: 0 9px 9px 9px;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
}
.partner_h {
  font-size:21px;
  color:#F08024;
}
.partner_name{
  font-size: 18px;
  font-weight: 400;
  padding:5px 0 2px 0;
  margin-bottom: 8px;
  border-bottom: 1px solid #eee;
}
.partner_logo_spacer {
  float:left;
  display: block;
  margin:10px;
}

/** Resources Page **/

.resources_container {
  margin:15px 15px 0 15px;
}

.tips_header{
  font-size:16pt;
  color:#F08024;
}
.resources_tips_container {
  margin:15px 15px 0 15px;
  padding-bottom: 40px;
}

/** Communities Page **/

.community_header {
  border-bottom: 1px solid #DDD;
  padding-bottom: 3px;
}
.city_links {
  display:inline-block;
  width:100%;
  padding:3px;
}
.city_links:hover {
  background-color:#EEE;
  text-decoration: none;
}
.community_bing_map {
  position:relative; 
  width:100%; 
  height:450px;
  border-bottom:1px solid #DDD;
}
.lower_community_panel {
  padding:5px 10px 0px 10px;
}
.lower_community_panel_h4 {
  padding:5px;
  border-bottom: 1px solid #DDD;
}
.school_table_head {
  font-size:12pt; 
  font-weight:500;
}
.school_table_th {
  color:#555; 
  font-weight:400;
}
.community_listings {
  padding:10px;
  height:80px;
  width:100%;
  overflow:hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}
.community_listing_img {
  float:left;
  margin-right:5px;
}
.community_listing_caption {
  padding-top: 5px;
  font-size: 11pt;
  color:#444;
}
.community_listing_subtext {
  font-size: 12pt;
}

/** Advice/Q&A Page (user-facing) **/

.question_h4 {
  color:#666;
}
.question_big_q {
  font-size:21px;
  color:#333;
}
.question_body {
  padding-top:0;
  padding-bottom:0; 
}