html {
  height:100%;
}

body {
  background-color: #FFF8F2;
  margin: 0;
  padding: 0;
  height: 100%;
}

.next_panel_title {
  color: #333333;
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom:-1px;
}
.form-control {
  margin-bottom: 7px;
}

.main_panel_container {
  margin:15px 15px 0px 15px;
}

.header_logo {
  margin-left:0px;
}

.nav_placeholder {

}
.no_side_padding {
  padding:0 0;
}

.no_padding {
  padding:0;
}
.no_margin {
  margin:0px;
}
.margin_top_15 {
  margin-top:15px;
}
.no_rounding {
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.nav-wrapper {
  padding:3px 5px 0 5px;
  background: url(nav_bg.jpg) repeat-x;
  height: 47px;
  width: 100%;
  margin-bottom: 0px;
  border-bottom: 0px solid #e5e5e5;
  border-top: 0px solid #e5e5e5;
  box-shadow: 0px 1px 3px #c3c2c3;
  -webkit-box-shadow: 0px 1px 3px #c3c2c3;
  -moz-box-shadow: 0px 1px 3px #c3c2c3;
  behavior: url(PIE/PIE.htc);
  z-index: 200;
}

.nav_link a{
  color:#666;
  font-size:11pt;
}
.nav_link_active a{
  color:#F08024;
  font-size:11pt;
}

.page_container {
  background-color: #FFF;
  width:960px;
  min-height: 100%;
  margin: auto auto;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(69,62,54,0.30);
  -moz-box-shadow: 0px 0px 15px 1px rgba(69,62,54,0.30);
  box-shadow: 0px 0px 15px 1px rgba(69,62,54,0.30);
}

.tab_content_container {
  width:910px;
  margin-left:auto;
  margin-right:auto;
}

.below_header_margin {
  margin-top:50px;
}

.small_header_margin {
  margin-top:15px;
}

.left_text {
  text-align: left;
}

.center_text {
  text-align: center;
}

.modal_short_width {
  width:450px;
  margin: auto auto;
}
.contact_modal_body {
  font-size:11pt;
  padding-top:13px;
  padding-bottom:0px;
}
.center {
	margin-left:auto;
	margin-right:auto;
}

.short_field {
  width:300px;
}

.placeholder_login_panel {
	width:450px;
}
.header_width {
	max-width: 900px;
}

.btn:focus {
  outline:0px !important;
  -webkit-appearance:none;
}
.field_spacer {
  margin-bottom:10px;
}

.sm_form_width {
	width:300px;
}

/** Footer Partial **/

.footer {

}

/** User-facing Home Page **/

.homepage_spacer {
  margin:30px 15px 30px 15px;
}

h2.bar {
  font-family: arial;
  font-size: 20px;
  font-weight: 400;
  background: #DDD;
  padding: 0px;
  margin: 30px 10px 30px 10px;
  line-height: 30px;
}

h2.bar span {
  color:#444;
  padding: 0 10px 10px 10px;
}

.whychoose_image_row {
  margin:15px 15px;
}

.whychoose_image_label {
  padding:5px;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  color:#FFF;
  background-color:rgba(0,0,0,0.5);
  border-radius: 0px 0px 6px 6px;
  position: absolute;
  left: 15px;
  top: 110px;
  width:203px;
}
.whychoose_image {
  width:100%;
  height:145px;
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
  -webkit-transform: translate3d(0, 0, 0); 
    -webkit-transition: all 0.2s ;
  -moz-transition: all 0.2s ;
  transition: all 0.2s ;
}
.whychoose_image:hover {
  opacity:0.9;
}
.whychoose_image:active {
  opacity:0.9;
}

.whychoose_text {
  padding:15px 40px 25px 40px;
}

.carousel_container {
  width:960px;
  height:420px;
  border:1px;
}

.carousel_item_title {
  font-size: 16pt;
  color:#EEE;
}
.carousel_item_price {
  font-size: 15pt;
  color:#DDD;
}
.carousel_item_stat {
  font-size:11pt;
  color:#CCC;
}

.carousel_caption {
  padding:10px 15px 10px 15px;
  font-weight: 200;
  width:auto;
  background-color:rgba(0,0,0,0.6);
  left:0;
  bottom:0;
  right:auto;
  text-align: left;
  margin-bottom: 250px;
  border-right: 7px solid rgba(175,175,175,0.5);
}
.carousel-indicators {
position: absolute;
bottom: 10px;
left: 50%;
z-index: 15;
width: 60%;
margin-left:-30%;
padding-left: 0;
list-style: none;
text-align: center;
}

.carousel-indicators li {
display: inline-block;
width: 10px;
height: 10px;
margin: 1px;
text-indent: -999px;
border: 1px solid #ffffff;
border-radius:10px;
cursor: pointer;
background-color: #000 \9;
background-color: rgba(0, 0, 0, 0);
}

/** Listing Styles **/

.search_container {
  width:100%;
  background-color: #EEE;
  padding:10px;
  overflow:hidden;
}
.search_field_col_left {
  float:left;
  margin-left:32px;
  margin-right:45px;
}
.search_field_col {
  float:left;
  margin-right:45px;
}
.search_field_col_right {
  float:left;
  width:auto;
}
.search_fields_wide {
  width:150px;
  margin:-2px 0 5px 0;
}
.search_fields {
  width:130px;
  margin:-2px 0 5px 0;
}
.search_btn {
  float:right;
  margin-top:22px;
  margin-right:30px;
}

.listings_container {
  margin-top:16px;
  min-height:100%;
  overflow:hidden;
}

.listing_item {
  float:left;
  width:220px;
  height:245px;
  margin:0 0 16px 16px;
  background-color:#EEE;
}

.listing_image_frame {
  overflow:hidden;
  position:relative;
  width:220px;
  height:170px;
}

.listing_image_overlay {
  padding-top: 75px;
  color:#000;
  position: absolute;
  left: 0;
  top: -77px;
  width:220px;
  height:171px;
  text-align: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.40);
  -webkit-transition: all 0.2s ;
  -moz-transition: all 0.2s ;
  transition: all 0.2s ;
  -webkit-transform: translate3d(0, 0, 0); 
}

.listing_image_overlay:hover {
  opacity: 1;
  color:#000;
}
.listing_image_overlay span {
  opacity: 1;
  color: #EEE;
    font-size: 12pt;
  font-weight: 200;
  font-family: helvetica;
  -webkit-transition: all 0.2s ;
  -moz-transition: all 0.2s ;
  transition: all 0.2s ;
}

.listing_image {
  width:220px;
  height:170px;
}

.listing_caption {
  overflow:hidden;
  padding:5px 10px 0 10px;
}
.listing_item_title {
  font-size: 12pt;
  color:#444;
}
.listing_item_price {
  font-size: 11pt;
  color:#444;
}
.listing_item_stat {
  text-align: center;
  font-size:10pt;
  color:#666;
}

/** Listing Show Page **/

.listing_page_container {
  width:910px;
  margin:25px;
}
.big_panel_title {
  font-size:14pt;
}
.panel_title_price {
  float:right;

  font-weight:400;
}
.panel_inner_container {
  width:880px;
  margin:15px;
}
.listing_page_image {
  float:left;
  margin-right:10px;
}
.listing_panel_info {
  float:left;
}

/** Blog Page (user facing) **/

.blog_container {
  margin: 16px 16px;
}
.post_author {
  font-size: 14pt;
  margin:-8px 0 3px 0;
}
.post_heading {
  font-size: 25px;
}

/** Evaluation Page (user facing) **/

.evaluation_subheader {
  color:#777;
  padding:5px 5px;
}
.evaluation_form_panel {
  width:700px;
}

.evaluation_check_labels {
  margin:0 30px 0 1px;
}
.eval_short_field {
  width:100px;
}

.eval_med_field {
  width:250px;
  float:left;
}
.eval_spc {
  margin-left: 15px;
}
.eval_btn {
  margin-right:30px;
}

/** Admin Panel **/



/** Resources Page **/

.resources_container {
  margin:15px 15px 0 15px;
}

.tips_header{
  font-size:16pt;
}
.resources_tips_container {
  margin:15px 15px 0 15px;
  padding-bottom: 40px;
}

/** Communities Page **/

.community_header {
  border-bottom: 1px solid #DDD;
  padding-bottom: 3px;
}
.city_links {
  display:inline-block;
  width:100%;
  padding:3px;
}
.city_links:hover {
  background-color:#EEE;
  text-decoration: none;
}
.community_bing_map {
  position:relative; 
  width:100%; 
  height:450px;
  border-bottom:1px solid #DDD;
}
.lower_community_panel {
  padding:5px 10px 0px 10px;
}
.lower_community_panel_h4 {
  padding:5px;
  border-bottom: 1px solid #DDD
}
.community_listings {
  padding:10px;
  height:80px;
  width:100%;
  overflow:hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}
.community_listing_img {
  float:left;
  margin-right:5px;
}
.community_listing_caption {
  padding-top: 5px;
  font-size: 11pt;
  color:#444;
}
.community_listing_subtext {
  font-size: 12pt;
}